body {
    color: yellow;
    text-align: center;
}

h2 {
    color: purple;
    text-align: left;
}
p {
    color:red;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    position: fixed;
}

li#home {
    text-align: left;
}
